---
interface Props {
  title: string;
  date: Date;
  image: string;
  summary: string;
  order: number;
  href: string;
}

const { title, date, image, summary, order, href } = Astro.props;

const formatted = new Intl.DateTimeFormat('en-US', {
  day: '2-digit',
  month: '2-digit',
  year: 'numeric',
})
  .format(date)
  .replaceAll('/', '.');

---

<div class="blog-header">
  <div class="header-article">
    <h2 class="blog-article-title"><a href={href}>{title}</a></h2>
    <div class="date">{formatted}</div>
  </div>
  <div class="blog-article">
    <img src={image} alt={title} />
    <div class="blog-article-summary">
      {summary}
    </div>
  </div>
</div>
