---
import { getCollection, render } from 'astro:content';
import PageLayout from '../../layouts/PageLayout.astro';

const newsletter = (await getCollection('newsletter', ({ data }) => !data.draft)).sort(
  (a, b) => +b.data.date - +a.data.date,
);

export async function getExcerpt(post) {
  const {remarkPluginFrontmatter } = await render(post)
  return remarkPluginFrontmatter.excerpt
}

const fmt = (d: Date) =>
  `${String(d.getDate()).padStart(2, '0')}.${String(d.getMonth() + 1).padStart(2, '0')}.${d.getFullYear()}`;

---

<PageLayout
  title="Newsletter"
>
  <div class="post-list">
    {
      newsletter.map((post) => {
	    
        return (
          <a class="post-card" href={`/newsletter/${post.id}`}>
            <div class="post-card__image">
              <img src={post.data.image} alt="" loading="lazy" />
            </div>
            <div>
              <div class="post-card__meta">
                {fmt(post.data.date)}
              </div>
              <h2 class="post-card__title">
                {post.data.title}
              </h2>
              {post.data.categories.length > 0 && (
                <div class="post-card__categories">
                  {post.data.categories.map((category) => (
                    <span>{category}</span>
                  ))}
                </div>
              )}
			  <div>
			    {getExcerpt(post)}
			  </div>
            </div>
          </a>
        );
      })
    }
  </div>
</PageLayout>
